
/* Extra Large (4K/TV) */
@media screen and (min-width: 1921px){

    .indicator{
        background-color: red;
    }

    .container{
        max-width: 1920px;        
    }

}

/* Large Desktops */
@container container (max-width: 1920px){

    .indicator{
        background-color: green;
    }

}

/* Laptops / Small Desktops */
@media screen and (max-width: 1200px){

    html{
        font-size: 0.9rem;
    }

    .indicator{
        background-color: blue;
    }

    main .hero{
        
        .lady{
            right: -9rem;
        }

    }

    main .discipleship{

        .img-con{
            justify-content: center;
        }

    }

    main .upcoming .pagination-dots{
        display: flex;
    }

    main .library{
        padding-inline: 3cqw;
        
        .categories{
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3cqw;
            row-gap: 3cqw;
        }
    }

    main .workshops{

        .graphics.tube{

            &.top{
                --tube-top: 20rem;
            }

            &.bottom{
                --tube-bottom: 11rem; 
            }

        }

    }

    footer .footer-links{
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

}

/* Tablets (Ex-Large) */
@media screen and (max-width: 1024px){

    html{
        font-size: 0.8rem;
    }

    .indicator{
        background-color: orange;
    }

    main .hero{
        
        .lady{
            right: -12rem;
        }

    }

    .main-section{
        padding-inline: var(--section-padding-inline-tab);
        padding-block: var(--section-padding-block-tab);
        column-gap: var(--section-gap-tab);
        row-gap: var(--section-gap-tab);
    }
    
    main .delight{

        .articles{
            grid-template-columns: repeat(3, minmax(450px, 1fr));
            column-gap: 3cqw;
            row-gap: 3cqw;
        }

    }

    main .blogs{

        .articles{
            grid-template-columns: repeat(3, 320px);
        }
        
    }

    main .library{

        & .graphics.circle{
            width: 6rem;
        }
        
        .categories{
            grid-auto-rows: minmax(100px, auto);
            column-gap: var(--section-gap-tab);
            row-gap: var(--section-gap-tab);
            grid-template-columns: repeat(2, minmax(300px, 1fr));

            .category{
                padding-block: 3rem;
                justify-items: center;
                text-align: center;

                img{
                    width: 5rem;
                }

                p{
                    font-size: 2rem;
                }
            }

            > :last-child{
                grid-column: span 2;
            }
        }
    }

    main .subscribe{
        padding-block: var(--section-padding-block);

        background-image: repeating-linear-gradient(
            25deg,
            #F6F9FB,
            #F6F9FB 0.5cqw,
            hsla(207, 74%, 36%, 0.3) 0.6cqw,
            hsla(207, 74%, 36%, 0.3) 0.7cqw
        );

        form{
            width: 70cqw;
            gap: 2cqw;

            button{
                padding-inline: 4cqw;
            }
        }
    }

    main .workshops{

        form{
            width: 90cqw;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 1rem;
        }

        .hide-workshop{
            display: none;
        }

        .see-more{
            display: block;
        }

    }

    footer .footer-links{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        padding-inline: var(--section-padding-inline-tab);
        column-gap: 2cqw;
    }
        
    .snap{
        display: block;
    }

    .pagination-dots{
        display: flex;
        gap: 2cqw;

        & .dot{
            width: 2cqw;
        }
    }

}

/* Tablets (Large) */
@media screen and (max-width: 850px){

    html{
        font-size: 0.78rem;
    }

    .indicator{
        background-color: rgb(208, 255, 0);
    }

    main .hero{
        align-items: center;
        text-align: center;

        h1{
            font-size: 3rem;
            width: 90cqw;
            padding-inline: var(--section-padding-inline-tab);
        }

        p{
            order: 1;
            width: 90cqw;
        }

        form{
            order: 2;
            width: 90cqw;
        }

        .lady{
            position: relative;
            width: 90cqw;
            right: 0px;
        }

    }

}

/* Tablets (Medium) */
@media screen and (max-width: 700px){

    html{
        font-size: 0.76rem;
    }

    .indicator{
        background-color: rgb(84, 54, 0);
    }

    header{
        padding-inline: 5cqw;
    }

    main .hero{

        h1{
            font-size: 2.5rem;
        }

    }

    main .discipleship{
        grid-template-columns: repeat(1, 1fr);
    }

    main .blogs{

        .articles{
            grid-template-columns: repeat(3, 280px);
        }
        
    }

    main .upcoming{
        padding-block-end: 10cqw;

        .trainings{
            grid-template-columns: repeat(1, 80%);
            row-gap: 5cqw;

            .training{
                font-size: 2.5cqw;
                padding-block: 3cqw;
            }
        }
        
        & .pagination-dots{
            display: none;
        }

    }

    main .library{

        & .graphics.circle{
            width: 5rem;
        }
        
        .categories{
            grid-template-columns: repeat(1, 1fr);

            > :last-child{
                grid-column: span 1;
            }
        }
    }

    main .subscribe{

        .graphics.x{
            --x-width: 2em;
        }
        
        form{
            width: 90cqw;

            input{
                padding-block: 1.8rem;
            }
            
        }
    }

    main .workshops{

        .graphics.tube{

            &.top{
                --tube-top-width: 20rem;
            }

            &.bottom{
                --tube-bottom-width: 12rem; 
            }

        }

    }

    footer .footer-links{
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        padding-inline: 5cqw;

        .link{
            justify-content: flex-start;

            &.quick, &.media{
                justify-self: flex-end;
            }
        }
    }

    .elevate{
        border-radius: 2cqw;
    }

}

/* Tablets (Small) */
@media screen and (max-width: 570px){

    .indicator{
        background-color: rgb(255, 0, 225);
    }

    header{
        padding-inline: 5cqw;

        nav{

            .control{
                &.open{
                    display: flex;
                }

                &.close{
                    display: block;
                }
            }

            #check:checked{

                & ~ .side-bar{
                    right: 0;
                    box-shadow: -5px 5px 1rem rgb(200, 200, 200);
                }

                & ~ .overlay{
                    right: 0cqw;
                }

            }         

            .overlay{
                width: 100cqw;
                height: 100dvh;
                position: fixed;
                top: 0;
                right: -100cqw;
                z-index: 19; 
                transition: 0.7s ease-in-out;
            }   

            .side-bar{
                width: 60cqw;
                height: 100dvh;
                padding: 1rem;
                position: fixed;
                top: 0;
                right: -60cqw;
                z-index: 20;
                transition: 0.7s ease-in-out;

                .menu-links{
                    flex-direction: column;
                    gap: 1rem;
                    font-size: 1rem;
        
                    a{
                        display: block;
                        padding: 1rem 2rem;

                        &:hover{
                            background-color: var(--blue-scheme);
                            color: white;
                        }
                    }
                }

            }

        }

    }

    main .workshops{

        .graphics.tube{

            &.top{
                --tube-top-width: 15rem;
            }

            &.bottom{
                --tube-bottom-width: 10rem; 
            }

        }

    }

}

/* Mobile (Portrait) */
@media screen and (max-width: 500px){

    .indicator{
        background-color: skyblue;
    }

    .main-section{
        padding-inline: var(--section-padding-inline-mob);
        padding-block: var(--section-padding-block-mob);
        column-gap: var(--section-gap-mob);
        row-gap: var(--section-gap-mob);

        & h2{
            font-size: 2rem;
        }
    }

    main .hero{
        row-gap: 10cqw;
        justify-content: space-between;

        h1{
            font-size: 5cqw;
        }

        p{
            font-size: 3cqw;
            line-height: 4cqw;
        }
    }

    main .discipleship{
        column-gap: var(--section-gap-mob-x2);
        row-gap: var(--section-gap-mob-x2);

        .card{
            padding: 10cqw;
            gap: 10cqw;

            .img-con img{
                width: 15cqw;
            }

            .learning{

                .count{
                    font-size: 6cqw;
                }

                .type{
                    font-size: 5cqw;
                }

            }

        }
    }
    
    main .popular{
        padding-inline: 0px;

        form{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding-inline: var(--section-padding-inline-mob);
            row-gap: var(--section-gap-mob);

            button{
                width: 100%;
            }
        }

        .cards{
            grid-template-columns: repeat(3, 290px);
        }
    }
    
    main .delight{

        .articles{
            grid-template-columns: repeat(3, 100%);
        }

    }

    main .blogs{

        .articles{
            grid-template-columns: repeat(3, 100%);
        
            article{
                h3{
                    font-size: 4cqw;
                }

                p{
                    font-size: 3.5cqw;
                }
            }
        }
        
    }

    main .library{
        
        & .graphics.circle{
            width: 9cqw;
        }

    }

    main .subscribe{
        
        form{

            input{
                padding-block: 1.2rem;
                font-size: 1rem;
            }
        
            button{
                font-size: 1rem;
            }
            
        }
    }

    main .workshops{

        .graphics.tube{

            &.top{
                --tube-top-width: 13rem;
            }

            &.bottom{
                --tube-bottom-width: 8rem; 
            }

        }

        .heading-con p{
            font-size: 0.9rem;
        }

        form{
            width: 95cqw;
            row-gap: 1rem;
        }

    }

    footer .footer-links{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding-inline: var(--section-padding-inline-mob);
        column-gap: 1cqw;

        .link{
            justify-content: flex-start;

            h3{
                font-size: 1.5rem;
            }

            &.quick{
                justify-self: flex-end;
            }

            &.partner{
                grid-column-start: 1;
            }

            &.media{
                grid-column-start: 1;
                justify-self: flex-start;
            }
            
            .media-links{
                gap: 2cqw;

                img{
                    width: 2rem;
                }
            }
        }
    }

    footer .footer-policy .copyright{
        padding-inline: var(--section-padding-inline-mob);
    }

}

/* Small Screen */
@media screen and (max-width: 400px){

    main .workshops{

        .graphics.tube{

            &.top{
                --tube-top-width: 11rem;
            }

        }

    }

}

/* Small Screen */
@media screen and (max-width: 300px){

    .indicator{
        background-color: black;
    }

    main .popular .cards{
        grid-template-columns: repeat(3, 100%);
    }

    main .subscribe{
        
        form{
            flex-direction: column;
            gap: var(--section-gap-mob);
        }

    }

}